@font-face {
  font-family: "bexon-icons";
  src: url("../fonts/bexon-icons.eot?yu4jya");
  src: url("../fonts/bexon-icons.eot?yu4jya#iefix") format("embedded-opentype"),
    url("../fonts/bexon-icons.ttf?yu4jya") format("truetype"),
    url("../fonts/bexon-icons.woff?yu4jya") format("woff"),
    url("../fonts/bexon-icons.svg?yu4jya#bexon-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="tji-"],
[class*=" tji-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "bexon-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tji-star:before {
  content: "\e931";
}

.tji-list:before {
  content: "\e92f";
}

.tji-arrow-right-long:before {
  content: "\e916";
}

.tji-arrow-down-long:before {
  content: "\e917";
}

.tji-search:before {
  content: "\e91c";
}

.tji-box:before {
  content: "\e90d";
}

.tji-service-1:before {
  content: "\e905";
}

.tji-service-2:before {
  content: "\e904";
}

.tji-service-3:before {
  content: "\e903";
}

.tji-service-4:before {
  content: "\e902";
}

.tji-clock:before {
  content: "\e912";
}